<head>
  <title>Carvicer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>

<body>
	{{> sAlert}}
	{{#if loading}}
		{{> spinner}}
	{{/if}}
</body>
