<template name="viewTrans">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="account"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">View Transactions</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			
		{{/ionContent}}
	{{/ionView}}
</template>