<template name="viewNotification">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="account"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">View Notifications</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}

			
		{{/ionContent}}

	{{/ionView}}
</template>