<template name="makePayment">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="offer_detail"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Make Payment</h1>
	{{/contentFor}}
{{#ionView}}
{{#ionContent}}
123
<button id="submit_payment">pay</button>
{{/ionContent}}
{{/ionView}}
</template>