<template name = "activeRequestUpdate">
	
{{#contentFor "headerButtonLeft"}}
	{{>ionNavBackButton class="button-stable" path="view_request"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
	<h1 class = "title">Update Request</h1>
{{/contentFor}}
 
{{#ionView}}
	{{#ionContent}}	

      {{#ionList}}
	     		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="oil_change" value="Oil Change"></label>
             Oil Change
		 {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="smog_check" value="Smog Check"></label>
             Smog Check(Include certificate)
		 {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="alignment" value="Alignment"></label>
             Alignment             
		 {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="towing" value="Towing"></label>
             Towing
		 {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="other" value="Other"></label>
             Other
		 {{/ionItem}}

		 {{#ionItem class="item-input item-select"}}
		     <div class="input-label"><h2>Vehicle</h2></div>
             <select class = "form-control" id = "customer_vehicle" form = "customer_request_form">
				{{#each myVehicles}}
				<option value = "{{make}} {{model}} {{year}}">{{make}} {{model}} {{year}}</option>
				{{/each}}
			</select>
		 {{/ionItem}}
		 {{#with activeRequest}}
         {{#ionItem class="item-input item-select"}}
             <div class="input-label"><h2>Add Time</h2></div>
             <select class="" id = "customer_requesting_time" form = "customer_request_form">
				<option value = "0" selected>0</option>
				<option value = "60">1 Hour</option>
				<option value = "120">2 Hours</option>
				<option value = "180">3 Hours</option>
				<option value = "1440" > 1 Day</option>
			</select>
         {{/ionItem}}

         {{#ionItem class="item-input"}}
           <div class="input-label"><h2>Date to be Served</h2></div>
	       <input type='date' value="{{date}}" class="" id = "customer_service_date" form ="customer_request_form">
         {{/ionItem}}  
         {{#ionItem class=""}}
         <div style="margin-bottom:5px;"><h2>Message</h2></div>
         <textarea id="message" placeholder="Leave message to stores" rows="3">{{message}}</textarea>
         {{/ionItem}}
         {{#ionItem class="item_comment"}}
         <br>
			<center>
				<form id = "customer_update_form" action = "">

		        <button type="submit" class="button button-outline button-balanced btn-request">

		           	Update Your Request
		        </button>
				</form>
				
				<br>

		        <button class="button button-outline button-assertive btn-request" data-action="cancelRequest">
		           	Discard Your Request
		        </button>
			    <p class="royal">If you discard your request, you may get...</p>
			</center>
         {{/ionItem}}
         {{/with}}
<!--          {{#ionItem class="last_item_for_submit"}}

         <h3 >Send your request to all stores</h3>
		 <form id = "customer_request_form" action = "">
		            <a class="button button-balanced button-outline" id="request-btn-form"><i class="icon ion-checkmark-round"></i></a>
		 </form>
	     <br>
         <br>

         {{/ionItem}}  -->      

	  {{/ionList}}







<!-- <div class="request-item-select2" >
            <i class="icon ion-settings balanced"></i>
			<select class = "form-control" id = "customer_service" form = "customer_update_form">
			    <option class="" value = "" disabled selected><p> {{service}} </p></option>
				<option value = "Oil Change">Oil Change</option>
				<option value = "Smog Check">Smog Check</option>
				<option value = "Towing">Towing</option>
			</select> 
</div>

<div class="request-item-select2">
            <i class="icon ion-model-s balanced" ></i>
			<select class = "form-control" id = "customer_vehicle" form = "customer_update_form">
				<option value = "" disabled selected><p> {{vehicle}} </p></option>
				<option value = "Car 1">Car 1</option>
				<option value = "Car 2">Car 2</option>
				<option value = "Car 3">Car 3</option>
			</select>
</div>

<div class="request-item-select2" id="half_box_hour">
	        <i class="icon ion-android-time placeholder-icon balanced "></i>
			<select class="form-control" id = "customer_requesting_time" form = "customer_update_form">
				<option value = "0" selected>Add Time</option>
				<option value = "30">Add Another 0.5 Hour</option>
				<option value = "60">Add Another 1 Hour</option>
				<option value = "120">Add Another 2 Hours</option>
				<option value = "180">Add Another 3 Hours</option>
				<option value = "1440" >Add One More Day</option>
			</select>
</div>

<div class="request-item-select2" id="half_box_date">
	       <i class="date_to_be_served icon ion-android-calendar placeholder-icon balanced"></i>
           <div class = "calender">
	       <input type='date' class="form-control" id = "customer_service_date" form ="customer_update_form" />
	       <span class="glyphicon glyphicon-calendar"></span>
	       </div>
</div>
 -->



			



	{{/ionContent}}
{{/ionView}}
</template>
