<template name="editMyPayment">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path=previousPath}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Edit My Payment Cards</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
            {{#if cards}}
             {{#ionList class="card"}}
             {{#each cards}}
                 {{#ionItem class="item-divider item-icon-right"}}
                     <h3>**** **** **** {{last4}}</h3>
                     <i id="{{id}}" class="icon ion-ios-close-empty delete_card"></i>
                     {{/ionItem}}
        
                     {{#ionItem class="item-text-wrap"}}
                     <div class="flex">
                         <div class="" style="width:40%;"><p>Exp. {{exp_month}}/{{exp_year}}</p></div>
                         <div class="middle_text" style="width:30%;"><p>CVC ***</p></div>
                         <div class="middle_text" style="width:30%;"><p>Zip {{address_zip}}</p></div>
                     </div>
                {{/ionItem}}
            {{/each}}
             {{/ionList}}
            {{/if}}
			 {{#ionList class="card"}}
                {{#ionItem class="item-icon-left"}}
					<i class="icon ion-card balanced"></i>
					<h2 id="changeProfilePicture" style="font-weight:bold;">Add Card</h2>
				{{/ionItem}}

                {{#ionItem class="item-input item-stacked-label"}}
                    <span class="input-label">Card Number</span>
                    <input type="tel" class="cc-num" placeholder="Visa/Master/Discovery/A.Express" required>
                {{/ionItem}}

                {{#ionItem class="item-input item-stacked-label"}}
                    <span class="input-label">Expired Date</span>
                    <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="MM/YY" required>
                {{/ionItem}}

                {{#ionItem class="item-input item-stacked-label"}}
                    <span class="input-label">CVC</span>
                    <input type="password" class="cc-cvc" placeholder="3/4 Digits secure number">
                {{/ionItem}}

                {{#ionItem class="item-input item-stacked-label"}}
                    <span class="input-label">Zip Code</span>
                    <input type="tel" class="cc-zip" placeholder="5 Digits US zip code">
                {{/ionItem}}

            {{/ionList}}

            <div class="padding">
            <button id="save_card" class="button button-outline button-balanced btn-account" style="">Save</button>
            </div>
            
		{{/ionContent}}
	{{/ionView}}
</template>