<template name = "viewRequest">

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Active Request</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}			
			{{#ionList}}
				<a class = "item item-icon-left item-icon-right" href = "/active_request_detail">
				    <i class="icon ion-eye balanced"></i>
				    View Active Request
					<i class = "icon ion-ios-arrow-right"></i>
				</a>

				<a class = "item item-icon-left item-icon-right" href = "/active_request_update">
				    <i class="icon ion-refresh assertive"></i>
				    Update/ Discard Request
					<i class = "icon ion-ios-arrow-right"></i>		
				</a>

			{{/ionList}}
            
            <div class="offer-result">
               <h4>All Offers</h4>
			</div>
			
			{{#ionList}}
				{{#each offers}}
					{{> offers_list}}
				{{/each}}
			{{/ionList}}
		{{/ionContent}}

	{{/ionView}}
</template>

<template name = "offers_list">
	<a class = "item item-icon-right" href = "/offer_detail/{{_id}}">
		<i class = "icon ion-more"></i>
		<div class = "row">
			<div class = "col col-70">
				<h2><strong>{{storeName}}</strong></h2>
				<!-- <img src="/rating.png" style="width:80px;"> -->
				<span style="color:#9c9c9c;font-size:12px;">{{getDistance storeLoc}} from your location</span>
				<h3>${{price}}</h3>

			</div>
		</div>
	</a>
</template>