<template name = "transactionHistory">

	{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton text = "back" path="customer_account"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Transaction History</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#ionList}}
				{{#each trans}}
					{{> transaction}}
				{{/each}}
			{{/ionList}}
		{{/ionContent}}
	{{/ionView}}

</template>

<template name = "transaction">
	<a class = "item item-icon-right" href = "/transaction_detail/{{_id}}">
		<i class = "icon ion-more"></i>
				<h3>{{storeName}} - {{formatdate serviceDate}}</h3>
					<p>{{service}}<br />
					{{#if paid}}Confirmed{{else}}<span class="positive">Unconfirmed</span>{{/if}}
				</p>
	</a>
</template>