<template name = "offerDetail">
	{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="view_request"}}
	{{/contentFor}} 
  
	{{#contentFor "headerTitle"}}
		<h1 class = "title">Offer Detail</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			
				<div class = "card">
				{{#with oneOffer}}
					<div id="storeCard" class = "item item-divider" style="text-align:center;padding:20px 0px;background-color:#fffbf5;border:solid 1px #ddd;">
					    <!-- <img src="{{thisStore.image_url}}" id="offer_detail_storeImg"> -->
					    <img src="{{thisStore.image_url}}" id="offer_detail_storeImg">
						<h3 id="storeName"> {{storeName}} </h3>
						<img src="{{thisStore.rating_img_url}}">

					</div>
                    
                    <div id="toggle_trigger_request" style="border:solid 1px #ddd;">
						<div class = "item item-input item-text-wrap item-icon-right my_offer_toggle">
							<h3 class="input-label" style="width:75px;">Service</h3>
							<p id="service" > {{service}} </p>
							<i class="icon ion-ios-arrow-down" style="font-size:12px;"></i>
						</div>
						<div class="item toggle_info">
						    <div class="item item-input item-text-wrap">
                                <h3 class="input-label" style="width:75px;">Vehicle</h3>
                                <p id="vehicle">{{vehicle}}</p>
                            </div>
                            <div class="item item-input item-text-wrap">
                                <h3 class="input-label" style="width:75px;">Date</h3>
                                <p>{{formatdate serviceDate}}</p>
                            </div>
                            <div class="item item-input item-text-wrap">
                                <h3 class="input-label" style="width:75px;">My Msg</h3>
                                <p>{{customerMessage}}</p>
                            </div>
						</div>
					</div>

                    <div id="toggle_trigger_offer" style="border:solid 1px #ddd;">
						<div class = "item item-input item-icon-right my_offer_toggle">
							<h3 class="input-label" style="width:75px;">Price </h3>
							<span id="price" style="font-weight:bold;">$ {{price}} </span>
							<i class="icon ion-ios-arrow-down" style="font-size:12px;"></i>	
						</div>
						<div class="item toggle_info">
							<div class = "item item-input">
								<h3 class="input-label" style="width:75px;">Store Msg</h3>
								<p>{{message}}123</p>	
							</div>
						</div>
				    </div>

				    <a class="item item-input item-icon-right" href="tel:{{thisStore.phone}}" style="height:46px;">
                        <h3 class="input-labe">Phone &nbsp;&nbsp;</h3>
                        <p>	{{thisStore.display_phone}}</p>
                        <i class="icon padding"><h5 class="energized">Call</h5></i>
				    </a>
			{{/with}}
                    <div id="map" class="item" style="height:200px;padding:3px;">
                    	
                    </div>
             {{#with oneOffer}}
            {{#if valid}}
				{{#if cards}}
                    <div class="item" style="padding:3px;">
				        <button class="button button-block button-balanced" style="margin:0px;" data-action="acceptOffer">
					           	Accept This Offer
					    </button>
					</div>
				{{#ionItem class="item-input item-select"}}
					
        		     <div class="input-label"><h2>Pay with</h2></div>
        		     <select class="" id = "choose_payment_card" style="width:100%;">
        		     {{#each cards}}
						<option value = "{{id}}">{{brand}} Ending in {{last4}}</option>
					 {{/each}}
					 	<option value = "add card">Use another card</option>
					</select>
        		 {{/ionItem}}
        		 <div class="item item-text-wrap" style="color:#9c9c9c;">You will be charged after you confirm your payment in purchase history.</div>
        		 {{else}}
        		    <div class="item" style="padding:3px;">
        		 	    <button class="button button-block button-block button-balanced disabled" style="margin:0px;" data-action="acceptOffer">
					           	Accept This Offer
					    </button>
					</div>
					<div id="toggle_setPayment">
						<div class="item item-text-wrap item-icon-right setPayment" style="color:#9c9c9c;" id="toggle_setYourPayment">
						    <p>Please set your payment card before you accept offer.</p>
						    <i class="icon ion-ios-arrow-down" style="font-size:12px;"></i>
						</div>
						<div class="item toggle_info">

					        {{#ionList}}
				                {{#ionItem class="item-icon-left"}}
									<i class="icon ion-card balanced"></i>
									<h2 id="changeProfilePicture" style="font-weight:bold;">Add Card</h2>
								{{/ionItem}}

				                {{#ionItem class="item-input item-stacked-label"}}
				                    <span class="input-label">Card Number</span>
				                    <input type="tel" class="cc-num" placeholder="Visa/Master/Discovery/A.Express" required>
				                {{/ionItem}}

				                {{#ionItem class="item-input item-stacked-label"}}
				                    <span class="input-label">Expired Date</span>
				                    <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="MM/YY" required>
				                {{/ionItem}}

				                {{#ionItem class="item-input item-stacked-label"}}
				                    <span class="input-label">CVC</span>
				                    <input type="password" class="cc-cvc" placeholder="3/4 Digits secure number">
				                {{/ionItem}}

				                {{#ionItem class="item-input item-stacked-label"}}
				                    <span class="input-label">Zip Code</span>
				                    <input type="tel" class="cc-zip" placeholder="5 Digits US zip code">
				                {{/ionItem}}



				            {{/ionList}}
                                    <center><div id="save_btn"><button id="save_card" class="button button-outline button-balanced btn-account" style="margin-bottom:15px;">Set My Payment</button></div></center>
	                    </div>
					</div>
				{{/if}}

			{{else}}
			    <div class="item" style="padding:3px;">
					<button class="button button-block button-block button-balanced disabled" style="margin:0px;" data-action="acceptOffer">
					           	Accept This Offer
				    </button>
				</div>
				<div class="item item-text-wrap" style="color:#9c9c9c;">Since you updated the request, please wait for this offer to be updated.</div>

			{{/if}}

			{{/with}}
				</div>

				


			


		{{/ionContent}}
	{{/ionView}}
</template>


	
