<template name="customerSearch">

{{#contentFor "headerTitle"}}
	<h1 class = "title">Search - List</h1><button id="change_map" class="button button-small button-outline">Map</button>
{{/contentFor}}

{{#ionView}}
		{{#ionContent}}

<div id="header_search" style="display:flex;">
    <div class="filter" style="width:100%;">
   	    <select class = "" id = "service" name="service">
				<option value = "">Select Service</option>
				<option value = "oil change">Oil Change</option>
				<option value = "smog check">Smog Check</option>
				<!-- <option value = "car washing">Car Washing</option> -->
				<option value = "towing">Towing</option>
				<option value = "tire replacement">Car Washing</option>
				<option value = "transmission fluid">Transmission Fluid</option>
				<option value = "air filter">Air Filter</option>
		</select>
     </div>

    <div class="filter" style="width:20%;">
        <button type="submit" class="button button-energized  btn_search_page" data-ion-modal="_myModal">Filter</button>
    </div>

    <div class="filter" style="width:20%;">
    	<button id="search" type="submit" class="button button-outline button-balanced btn_search_page">Go</button>
    </div>
</div>

<div id="search_refresh">
	<p style="font-weight:bold;">{{ numberOfResults }} results found</p>
</div>
 <!-- <div class="filter">
 <label class="icon balanced ion-settings search_filter"><span> Service</span></label>
<select class = "" id = "service" name="service">
				<option value = "">Choose...</option>
				<option value = "oil change">Oil Change</option>
				<option value = "smog check">Smog Check</option>
				<option value = "car washing">Car Washing</option>
			</select>
 </div>
 <div class="filter">
 <label class="icon balanced ion-location search_filter"><span> Location</span></label>
  
<select id = "city" form = "" >
				<option value = "current">Current Location</option>
				<option value = "Daly City">Daly City</option>
				<option value = "Fremont">Fremont</option>
				<option value = "Hayward">Hayward</option>
				<option value = "Milpitas">Milpitas</option>
				<option value = "Mountain View">Mountain View</option>
				<option value = "Newark, CA">Newark</option>
				<option value = "Oakland, CA">Oakland</option>
				<option value = "Palo Auto">Palo Auto</option>
				<option value = "Redwood City">Redwood City</option>
				<option value = "San Francisco">San Francisco</option>
				<option value = "San Jose">San Jose</option>
				<option value = "San Leandro">San Leandro</option>
				<option value = "San Mateo">San Mateo</option>
				<option value = "Santa Clara">Santa Clara</option>
				<option value = "South San Francisco">South San Francisco</option>
				<option value = "Sunnyvale">Sunnyvale</option>
				<option value = "Union City, CA">Union City</option>				
			</select>
 </div>
  <div class="filter">
  <label class="icon balanced ion-radio-waves search_filter"><span> Range</span></label>
<select class = "" id = "range" form = "">
				<option value = "8000">5 Miles</option>
				<option value = "16000">10 Miles</option>
				<option value = "24000">15 Miles</option>
				<option value = "32000">20 Miles</option>
				<option value = "40000">25 Miles</option>
			</select>
  </div> -->


<!-- {{#autoForm collection="tests" type="insert"}}
{{> afQuickField name="name"}}
{{> afQuickField name="avatar"}}
<button type="submit" class="btn btn-primary">Insert</button>

{{/autoForm}} -->

{{#ionList class="search_result"}}
{{#each addIndex stores}}

<a class="item item-store item-thumbnail-left item-icon-right" id={{id}} href={{storePath}}>
      
<img src="{{image_url}}" style="border-radius:3px;">
<h2>{{name}} {{#if carvicer}}(Carvicer Store){{/if}}</h2>
<p>{{phone}}</p>
<p>{{location.address}}</p>
	{{> ionIcon icon="ios-arrow-right"}}
</a>
{{/each}}

{{/ionList}}

		{{/ionContent}}
{{/ionView}}
</template>

<template name="_myModal">
  {{#ionModal title="Filter" class="modal_css"}}
    <div class="padding">
      <div class="filter_label">
      	<label class="icon balanced ion-location search_filter"><h3>Location</h3></label>
      </div>

      <div class="filter_select">
      	<select id = "city" form = "" >
				<option value = "current">Current Location</option>
				<option value = "Daly City">Daly City</option>
				<option value = "Fremont">Fremont</option>
				<option value = "Hayward">Hayward</option>
				<option value = "Milpitas">Milpitas</option>
				<option value = "Mountain View">Mountain View</option>
				<option value = "Newark, CA">Newark</option>
				<option value = "Oakland, CA">Oakland</option>
				<option value = "Palo Auto">Palo Auto</option>
				<option value = "Redwood City">Redwood City</option>
				<option value = "San Francisco">San Francisco</option>
				<option value = "San Jose">San Jose</option>
				<option value = "San Leandro">San Leandro</option>
				<option value = "San Mateo">San Mateo</option>
				<option value = "Santa Clara">Santa Clara</option>
				<option value = "South San Francisco">South San Francisco</option>
				<option value = "Sunnyvale">Sunnyvale</option>
				<option value = "Union City, CA">Union City</option>				
	    </select>
      </div>

      <div class="filter_label">
      	<label class="icon balanced ion-radio-waves search_filter"><h3> Range</h3></label>
      </div>

      <div class="filter_select">
      	<select class = "" id = "range" form = "">
				<option value = "8000">5 Miles</option>
				<option value = "16000">10 Miles</option>
				<option value = "24000">15 Miles</option>
				<option value = "32000">20 Miles</option>
				<option value = "40000">25 Miles</option>
		</select>
      </div>

      <div class="filter_btn" style="width:20%;">
    	<button id="search" type="submit" class="button button-balanced">Go</button>
      </div>
    </div>
  {{/ionModal}}
</template>




