<template name="searchMap">
{{#contentFor "headerTitle"}}
	<h1 class = "title">Search - Map</h1><button id="change_list" class="button button-small button-outline">List</button>
{{/contentFor}} 
{{#ionView}}
	{{#ionContent}}
		
		<div id="map"></div>
	{{/ionContent}}
{{/ionView}}
</template>