<template name =  "welcome">

{{#ionView}}
		{{#ionContent class="welcome"}}
		   {{#ionSlideBox}}
               
               <div class="ion-slide slick-slide" >
               <br>
                 <div class="" id="a1_connection">
                    <img class="welcome-slide" src="a1_connectionImg.png">
                 </div>
                 <div id="a1_5s_wording">
                   <img class="welcome-slide" src="heading1.png" id="a1-heading">
                 </div>
                 <div>
                     <img class="welcome-slide" src="heading.png" id="a1-wordings">
                 </div>
                 <div class="">
                   <img class="welcome-slide" src="a2_manImg.png" id="man">
                 </div>

                 <div class="">
                   <img class="welcome-slide" src="a2_house1.png" id="house1">
                 </div>

                 <div class="">
                   <img class="welcome-slide" src="a2_house2.png" id="house2">
                 </div>

                <div class="">
                   <img class="welcome-slide" src="a2_house3.png" id="house3">
                 </div>
               </div>

               <div class="ion-slide slick-slide" >  
                <div class="">                
                  <img class="welcome-slide" src="b2_slogan1.png" id="b2_step1">
                  <img class="welcome-slide" src="b2_slogan2.png" id="b2_step2">
                  <img class="welcome-slide" src="a4_iphone 6.png" id="iphone6">
                </div>
               </div>

               
            {{/ionSlideBox}}



		   



			<div class="btns-welcome padding ">
			<button class = "button button-assertive btn-welcome-signup" data-action = "signup">
      				Signup
      			</button>
		        <button class="button button-calm btn-welcome-login" data-action="login">
		          Login
		        </button>
      			
      		</div>

		{{/ionContent}}
{{/ionView}}
</template>