<div style="width:540px;border:solid 1px black;">
    <div class="header" style="width:540px;padding:60px 0 30px 0;display:inline-block;border-bottom:solid 1px black;text-align:center;">
    	<img src="http://carvicer.com:3001/logo2.jpg" style="width:50px;height:50px;border-radius:50%;margin-right:15px;">
    	<h2 style="-webkit-margin-before:0;-webkit-margin-after:0;padding:15px 0 5px 0;font-family:futura;">Your Registration Has Been Approved</h2>
    	<p style="-webkit-margin-before:3px;-webkit-margin-after:3px;padding-left:5px;font-family:avenir;">Now you can login by your e-mail</p>
    </div>
    <div>
    	<p style="font-family:avenir;padding:20px;">
        To  <span style="font-weight:bold;font-style:italic;">Abc Oil Changer</span> :
        <br>
        <br>
        Thank you for using Carvicer. The next step, please <span style="font-weight:bold;font-style:italic;">add your bank account</span>.
    	<br>
        <br>
        </p>
    </div>
    <div style="text-align:right;">
    	<h4 style="font-family:futura;padding-right:20px;">Carvicer.com</h4>
    </div>
	
</div>