<div style="width:540px;border:solid 1px black;">
    <div class="header" style="width:540px;padding:60px 0 30px 0;display:inline-block;border-bottom:solid 1px black;text-align:center;">
    	<img src="http://carvicer.com:3001/logo2.jpg" style="width:70px;height:70px;border-radius:50%;margin-right:15px;">
       <!--  <div class="C" style="position:absolute;
                              top:80px;
                              left:249px;
                              z-index:2;">
            <div class="img_st0" style="
                                        width:42px;
                                        border-radius:3px;
                                        background : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-style : Solid;
                                        border-color : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-width : 1.5px;
                                        position:relative;"></div>
            <div class="img_st0" style="width:0px;
                                        height:40px;
                                        border-radius:3px;
                                        background : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-style : Solid;
                                        border-color : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-width : 1.5px;
                                        position:relative;
                                        top:-3px;"></div>
            <div class="img_st0" style="
                                        width:42px;
                                        border-radius:3px;
                                        background : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-style : Solid;
                                        border-color : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-width : 1.5px;
                                        position:relative;
                                        top:-6px;"></div>
            <div class="img_st0" style="width:0px;
                                        height:7px;
                                        border-radius:3px;
                                        background : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-style : Solid;
                                        border-color : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-width : 1.5px;
                                        position:relative;
                                        top:-48px;
                                        left:42;"></div>
            <div class="img_st0" style="width:0px;
                                        height:7px;
                                        border-radius:3px;
                                        background : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-style : Solid;
                                        border-color : #6A6D70;
                                        background : rgba(106, 109, 112, 1);
                                        border-width : 1.5px;
                                        position:relative;
                                        top:-27px;
                                        left:42;"></div>
        </div>
        <div class="cirvle" style="position:absolute;
                                  top:62px;
                                  left:232px;
                                  z-index:1;">
            <div class="img_st1" style="
                                      width:80px;
                                      height:80px;
                                      border-radius:50%;
                                      background : -moz-linear-gradient(50% 100% 90deg,rgba(42, 41, 41, 1) 0%,rgba(48, 62, 82, 1) 100%);
                                      background : -webkit-linear-gradient(90deg, rgba(42, 41, 41, 1) 0%, rgba(48, 62, 82, 1) 100%);
                                      background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(42, 41, 41, 1) ),color-stop(1,rgba(48, 62, 82, 1) ));
                                      background : -o-linear-gradient(90deg, rgba(42, 41, 41, 1) 0%, rgba(48, 62, 82, 1) 100%);
                                      background : -ms-linear-gradient(90deg, rgba(42, 41, 41, 1) 0%, rgba(48, 62, 82, 1) 100%);
                                      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A2929', endColorstr='#303E52' ,GradientType=0)";
                                      background : linear-gradient(0deg, rgba(42, 41, 41, 1) 0%, rgba(48, 62, 82, 1) 100%);
                                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303E52',endColorstr='#2A2929' , GradientType=0);"></div>
                                  </div>
        <div class="v" style="position:absolute;
                              top:83px;
                              left:255.5px;
                              z-index:3;">
            <div class="img_NormalCharacterStyle" style="
                          font-family : Josefin Sans;
                          font-weight:500;
                          font-size : 45px;
                          letter-spacing : -1.65px;
                          color : #B6B5B6;
                          color : rgb(182, 181, 182);">V</div>
        </div> -->


    	<h2 style="-webkit-margin-before:0;-webkit-margin-after:0;padding:15px 0 5px 0;font-family:futura;">Your Order Has Been Processed</h2>
    	<p style="-webkit-margin-before:3px;-webkit-margin-after:3px;padding-left:5px;font-family:avenir;">The following is your receipt.</p>
    </div>
    <div>
    	<p style="font-family:avenir;padding:20px;">Thank you for using Carvicer. Here is your receipt number:
        <br>
        <span style="font-weight:bold;font-style:italic;">123456</span>
    	<br>
    	<br>
    	<br>
    	Customer Name: <span style="font-weight:bold;">Hanz Luo</span>
        <br>
        <span style="font-size:14px;font-style:italic;">Vehicle: Toyota Camry 2005</span>
        <br>
        Message:
        <br>
        <span style="font-size:14px;">I want a basic oil change.</span>
        <br>
        <br>
        Store Name: <span style="font-weight:bold;">Abc Oil Changer</span>
    	<br>
    	Service: Oil Change
    	<br>
    	Price: 49.99 $    	
    	<br>
    	Service Date: 08/15/2015
        <br>
        Store Message:
        <br>
        <span style="font-size:14px;">Thank you for your order!</span>
        <br>
        </p>
    </div>
    <div style="text-align:right;">
    	<h4 style="font-family:futura;padding-right:20px;">Carvicer.com</h4>
    </div>
	
</div>