$positive: #DE4F4F;
/*$light: rgba(255,255,255,0);*/
$calm: #90e2f4;
$assertive:#fa9770;
$royal: #d4d4d4;
$energized: #7ce59c; 

$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}

.content{
  background: linear-gradient(to right, rgba(224,224,224,1) 0%,rgba(245,245,245,1) 100%);
}
/*.content{
  bottom:0 !important;
}*/

/*global*/
.bar.bar-dark{
  background: linear-gradient(to bottom, rgba(47,62,82,1) 0%,rgba(42,42,42,1) 100%);
  font-color:white;  
}
.bar.bar-stable .title{
  color: white;
}
.back-text{
  color: white;
}
.button-clear .back-button .pull-left{

}
.flex{
  display: flex;
}
.card{
  border-radius: 5px;
}
.middle_text{
  border-left:solid 1px grey;
  padding-left: 5px;
}
.modal_css{
  margin-top: 128px;
}
.absolute_card_title{
  margin-top: 120px;
}
.toggle_info{
  display: none;
}
/* card design for promotion, thankPayment*/
.card_thumbnail h2{
  color:#8D2F58;
  font-size: 18px;
  padding-top: 10px;
  font-weight: bold;
}
.card_thumbnail img{
  border-radius:50%;
  width:60px;
  height: 60px;
  position: relative;
  top: 5px;
  left: 5px;
}
/*global end */
/* Welcome */

.welcome{
  background: linear-gradient(to bottom, rgba(47,62,82,1) 0%,rgba(42,42,42,1) 100%);
}
.btns-welcome .button{
  border-radius: 10px;
}
.btns-welcome{
  width: 100%;
  position: absolute;
  bottom: 15px;
}
.btn-welcome-login{
  width:49%;
  height:40px;
  float:right;
}
.btn-welcome-signup{
  width:49%;
  height:40px;
  float:left;
}
.welcome-logo{
  max-height: 85px;
  margin:10% auto 20% auto;
}
.welcome-logo img{
  width:70%;
}
.welcome-carvicer h2{
  margin-bottom:-10px;
}
.ion-slide h3{
  font-family: Trebuchet MS;
  color: #a9a9a9;
  font-size: 15px;
  padding:25px;
  margin-top: 10px;
}
.ion-slide-box{
  max-height: 83%;
}
.welcome-slide{
  margin:0 auto 0 auto;
  width:95%;
}
.ion-slide{
  padding-top:30px;  
}

.ion-slide p{
  color: white;
}



/* aniation in welcome page SLIDE 1*/
#a1-wordings{
  position: relative;
  bottom: 150px;
}
#man{
  position: relative;
  bottom:250px;
  margin:0 auto 0 auto;
}
#house1{
  width: 90px;
  position: relative;
  bottom:550px;
  right:60px;
}
#house2{
  width: 100px;
  position: relative;
  bottom:680px;
  left:10px;
}
#house3{
  width: 100px;
  position: relative;
  bottom:650px;
  left:70px;
}

#a1_connection{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: connectionImg;
  animation-name: connectionImg;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
#a1-heading{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: a1-heading;
  animation-name: a1-heading;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
#man{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: man;
  animation-name: man;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
#house1{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: house1;
  animation-name: house1;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
#house2{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: house2;
  animation-name: house2;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
#house3{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: house3;
  animation-name: house3;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
#a1-wordings{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: a1-wordings;
  animation-name: a1-wordings;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes connectionImg{
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes connectionImg {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes a1-heading{
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes a1-heading {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes man{
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  98%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes man {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  98%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes house1{
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
    transform: scale(0.1);
  }
  48% {
    opacity: 1;
    transform: scale(1.2);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes house1 {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
    transform: scale(0.1);
  }
  48% {
    opacity: 1;
    transform: scale(1.2);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes house2{
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
    transform: scale(0.1);
  }
  53% {
    opacity: 1;
    transform: scale(1.2);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes house2 {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
    transform: scale(0.1);
  }
  53% {
    opacity: 1;
    transform: scale(1.2);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;    
  }
}
@-webkit-keyframes house3{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(0.1);
  }
  58% {
    opacity: 1;
    transform: scale(1.2);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;   
  }
}
@keyframes house3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(0.1);
  }
  58% {
    opacity: 1;
    transform: scale(1.2);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    
  }

}
@-webkit-keyframes a1-wordings{
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: scale(0.1);
  }
  45% {
    opacity: 1;
    transform: scale(1.2);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  95%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes a1-wordings {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: scale(0.1);
  }
  45% {
    opacity: 1;
    transform: scale(1.2);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  95%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* animation ends */
/* aniation in welcome page SLIDE 2*/
#b2_step1{
  position: relative;  
}
#b2_step2{
  position: relative;
  top: 300px;  
}
#iphone6{
  position: relative;
  padding-top: 50px;
  bottom: 45px;
}
#iphone6{
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-name: iphone6;
  animation-name: iphone6;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes iphone6{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
    bottom:500px;
  }
  80% {
    opacity: 1;
    bottom:500px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes iphone6{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
    bottom:500px;
  }
  80% {
    opacity: 1;
    bottom:500px;
  }
  100% {
    opacity: 1;
  }
}
#b2_step1{
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-name: b2_step1;
  animation-name: b2_step1;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
#b2_step2{
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-name: b2_step2;
  animation-name: b2_step2;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes b2_step1{
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  5%{
    opacity: 1;
    transform: scale(1.2);
  }
  45% {
    opacity: 1;
    transform: scale(1);
  }
  47% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes b2_step1{
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  5%{
    opacity: 1;
    transform: scale(1.2);
  }
  45% {
    opacity: 1;
    transform: scale(1);
  }
  47% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes b2_step2{
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0;
    transform: scale(1)
  }
  27% {
    opacity: 1;
    transform: scale(1.2)
  }
  37%{
    opacity: 1;
    transform: scale(1)
  }
  85%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes b2_step2{
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0;
    transform: scale(1)
  }
  27% {
    opacity: 1;
    transform: scale(1.2)
  }
  37%{
    opacity: 1;
    transform: scale(1)
  }
  85%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* animation ends */

/* Welcome END */

/* Login & Sign Up */
.header_signUp{
  background: linear-gradient(to bottom, rgba(47,62,82,1) 0%,rgba(42,42,42,1) 100%);
  width: 100%;
  height: 34px;
  text-align: center;
  overflow: initial;
  z-index: 3;
}
#signUp_logo{
  width:17%;
  border-radius: 50%;
}
.absolute_header_login{
  background: linear-gradient(to bottom, rgba(47,62,82,1) 0%,rgba(42,42,42,1) 100%);
  width: 100%;
  text-align: center;
  display: block;
}
#absolute_header_login_logo{
  width: 60px;
  margin: 5px 0 auto 0;
  border-radius: 50%;
  display: inline-block;
  z-index: 3;
}
.login{
  background-image: url("loginImg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
}
.signup{
  background-image: url("signUpImg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
}
.login h3{
  font-size: 24px;
  font-color: 4ccdd9;
}
.login h4{
  font-size: 14px;
}
.signup h3{
  font-size: 24px;
  font-color: 4ccdd9;
  margin-top: 0px;
}
.signup h4{
  font-size: 14px;
  margin-bottom: 0px;
}

.login_title{
  margin-top:30px;
  width:100%;
  text-align: center;
}
.absolute-form{
  position: absolute;
  bottom: 15px;
  width:100%;
}
#callback{
  font-color:red;
}
#login_signUp_logo{
  border-radius: 50%;
}

/* Login & Sign Up end*/

/* Request */
.absolute_header{
  background: linear-gradient(to bottom, rgba(47,62,82,1) 0%,rgba(42,42,42,1) 100%);
  height: 80px;
  width: 100%;
  text-align: center;
  position: fixed;
  top:0px;
  z-index: 3;
  display: block;
}
.absolute_header h1{
  font-size: 18px;
  color: white;
  padding-top: 20px;
}
#absolute_header_logo{
  width: 60px;
  margin-top: 0px;
  border-radius: 50%;
  display: inline-block;
  z-index: 3;
}
.absolute_title{
  margin-top: 35px;
}
.submit_request h3{
  text-align: left;
  color: #838383;
  padding-top: 10px;
}
.submit_request h5{
  color: #33cd5f;
}
.item-select select{
  border: none;
  width:100%;
  max-width: 100%;
  background: transparent;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  -webkit-appearance:none;
}
.form_title h2{
  color: #385674;
  font-weight: bold;
  font-size: 16px;
}
.request-item-select2{
  margin: 5px 10px 0 10px;
  border-radius: 10px;
  height: 50px;
  background-color: white;
  padding: 14px 0 16px 16px;
  overflow: hidden;
  display: flex;
}
.request-item-select2 i{
  font-size:20px;

}
.request-item-select2 select{
  font-color:#d9d9d9;
  width: 85%;
  border: none;
  -webkit-appearance:none;
  background-color: white;
  text-align: left;
  position: relative;
  left: 10px;
  overflow: hidden;

} 
.request-item-select2 input{
  font-color:#d9d9d9;
  width: 50px;
  height: 20px;
  padding-right:0;
  border: none;
  -webkit-appearance:none;
  background-color: white;
  display: inline-block;
} 
#customer_requesting_time{
  float: right;
}
#customer_service_date{
  text-align: right;
  margin-right: 20px;
}
.date_to_be_served{
  display: inline-block;
  float: left;
}
.calender{
  display:flex;
  height:36px;
}
.calender .glyphicon-calendar{
  float:right;
  position:relative;
  top:-23px;

}
.calender input[type="date"]{
  text-align: left;
  box-shadow:none;
}
.offer-result{
  background-color: #acacac;
  text-align: center;
  height: 54px;
  margin-top: -20px;
  padding: 10px auto 10px auto;
}
.offer-result h4{
  padding-top: 15px;
}
.btn-request{
  /*border: solid 2px;*/
  border-radius: 10px;
  width:93%;
}
#request-btn-form{
  display:inline-block;
  border-radius: 5px;
  margin:10px -8px 25px -8px;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #7ce59c;
    border-color: #7ce59c;
}
/* Request END */
/* view offer */
#offer_detail_storeImg{
  border-radius: 50%;
  width:45px;
  height: 45px;
}
/* view offer end */
/* Update or Discard request*/

.item_comment p{
  font-size: 10px;
  color:#cdcdcd;
}
/* Update or Discard request end */
/* Search */
#search_refresh{
  background-color: white;
  padding-top: 5px;
  padding-left: 10px;
  width: 100%;
  height:40px;
}
#search_refresh p{
  padding-top: 5px;
  padding-right: 5px;
  float:right;
}
#search_refresh button{
  float:right;
  margin-right: 5px;
}
.search_filter{
  font-size: 20px;
}
.search_filter span{
  font-size: 16px;
  color: black;
}
#map-container{
  width:100%;
  height:0;
  overflow: hidden;
}
#map{
  width:100%;
  height:100%;
}
.filter{
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  width:32.5%;
  height:40px;
}
.filter label{
  display: block;
}
.filter select{
  -webkit-appearance:none;
  padding:5px 0 5px 5px;
  background-color: white;
  white-space: nowrap;
  width:95%;
  border-radius: 3px;
  border-color: rgb(221, 221, 221);
}
.filter option{
  width:100%;
  text-overflow:ellipsis;
}
.filter_label{
  padding-top: 5px;
  display: block;
  text-align: center;
}
.filter_select select{
  -webkit-appearance:none;
  margin: 20px 0px;
  padding:5px 0 5px 5px;
  background-color: transparent;
  white-space: nowrap;
  width:100%;
  border-radius: 5px;
  border-color:#7ce59c;
}
.filter_btn{
  float: right;
}
.filter_btn button{
  min-height: 31px;
  height: 31px;
  line-height:0;
  border:none;
  border-radius: 5px;
}
.search_bar input{
  width:100%;
}
#change_view{
  width: 25%;
}
.search_result_store{
  display: inline-block;
  width:80%;
}
#header_search{
  background-color:white;
  width:100%;
  height: 45px;
}
.label_search_bar{
  position: relative;
  top:0;
  left:0;
  z-index: 3;
  max-width: 35%;
  padding-left: 8px;
  text-align: left;
}
#service{
  background: transparent;
  -webkit-appearance:none;
}
#service select{
  text-align: right;
}
.btn_search_page{
  min-height: 31px;
  height: 31px;
  line-height:0;
  margin-right: 2px;
}

/* Search END */

/* Store details */
.my_store_list_service {
  background-color: #f9f9f9;
  height: 54px;
  overflow: hidden;
}
.service_tag{
  padding-left: 30px;
  display: flex;
}
.price_tag{
  width:100px;
  margin-left: 10%;
  display: flex;
  padding-right: -10%;

}
.my_store_list .icon{
  font-size:25px;
  color: #6c7a81;
}
.my_store_list_service .icon{
  font-size:25px;
  color: #eb7d24;
  margin-right: 15px;
}
.my_store_list p{
  color: #2f3e52;
  
}
.my_store_list_service p{
  color: #2f3e52;
  width: 120px;
  overflow: hidden;
  margin-right: 15px;
}
.my_store_list h5{
  color: #bababa;
  font-size: 10px;
}
.my_store_list_service h5{
  width: 24px;
  color: #bababa;
  font-size: 10px;
padding-top: 5px;
  margin-right: 10px; 
  display: block;
  text-align: center;
  text-overflow:clip;
  overflow: visible;
  position: absolute;
  right: 60px;

}
.my_store_list_service h4{
  height: 25px;
  color: #2f3e52;
  font-size: 15px;
  display: block;
  padding-left: 10px;
  text-align: center;
  text-overflow:clip;
  overflow: visible;
  position: absolute;
  right: 7px;
}
.item-thumbnail-left.store_cover_photo{
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,0.85))), url(/o.jpg) repeat 0 0;*/
  /*background-size: 100% auto;*/
  padding-top: 20px;  
}
.item-thumbnail-left.store_cover_photo h2{
  font-weight:bold;
  margin-left:10px;
  margin-top:10px;
}
.item-thumbnail-left.store_cover_photo img{
  margin-top: 10px; 
  margin-left: 10px;
  border-radius:3px;
}
/* Store details ends */

/* Account_Edit my info */
.file-upload-clear{
  border:1px solid $positive;
  padding: 2px;
  border-radius: 5px;
  color: $positive;

}
/* Account_Edit my info End */

/* Account_Edit my vehicle */
#comment_h5{
  color:#6c7a81;
  font-size: 18px;
  padding-left: 15px;
}
#select_vehicle{
  transition:all 0.5s;
   -webkit-transition:all 0.5s;
}
.btn-account{
  border-radius: 10px;
  width:100%;
}
.button_account{
  display: block;
  text-align: -webkit-center;
}
/* Account_Edit my vehicle End */
/* More_promotion */

/* More_promotion end*/

/* Thank payment */
#absolute_header_checkmark{
  background: linear-gradient(to bottom, rgba(47,62,82,1) 0%,rgba(42,42,42,1) 100%);
  width: 60px;
  height: 60px;
  padding-top: 13px;
  font-size: 35px;
  color:white;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

/* Thank Payment end */