<template name =  "login">
  <div class = "bar bar-header absolute_header_login">
		<div class="animated slideInUp" ><img src="logo2.jpg" id="absolute_header_login_logo" style="border:solid 1px #c9c9c9;"></div>
<!-- 		<h3 class="calm" style="margin-top:5px;">Login</h3> -->
  </div>
 

	{{#ionView}}
		{{#ionContent class="login"}}
			
		<div class="padding" style="text-align:center;margin-top:70px;
  width:100%;">
            <!-- <h3 class="calm">LOGIN</h3> -->
        </div>


         <div class="absolute-form">


			<div class="list list-inset" style="opacity:0.85;">
			  <label class="item item-input">
			    <input type="email" placeholder="Email Address" id = "email">
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Password" id = "password">
			  </label>
			  <div class="item">
			  <center>
			  <button class="button button-block button-outline button-calm" style="margin:-8px;margin-top:-3px;border-radius:5px;" data-action="login">
		            Sign In
		      </button>
		      </center>
		       <div style="padding-top:5px;">
		       		<span class="assertive" id = "callback" value = "{{loginStatus}}" style="font-size:12px;">{{loginStatus}}</span>
		       </div>
		      </div>
		      <a class="item" href = "/signup">
		      	<h4 style="margin-top:-5px;margin-bottom:-5px;">Create an account now <a href = "/signup" class = ""> Sign Up</a></h4>
		      </a>

			</div>



<!-- 			<div class="padding">
		        <button class="button button-block button-balanced" data-action="login">
		            Sign In
		        </button>
      		</div> -->
      		
        </div>

		{{/ionContent}}
	{{/ionView}}

</template>