<template name = "customerMore">
{{#contentFor "headerTitle"}}
	<h1 class = "title">More</h1>
{{/contentFor}}
	{{#ionView}}
		{{#ionContent}}	
			{{#ionList}}
				<!-- {{#ionItem path="bookmark" iconLeft=true iconRight=true}}
				{{> ionIcon icon="bookmark" class="balanced"}}
					Book Mark
          		{{> ionIcon icon="ios-arrow-right"}}
					
				{{/ionItem}}
				{{#ionItem path="promotions" iconLeft=true iconRight=true}}
				{{> ionIcon icon="ios-pricetag" class="balanced"}}
					Promotions
          		{{> ionIcon icon="ios-arrow-right"}}
					
				{{/ionItem}} -->
			{{/ionList}}
			{{#ionList}}
				{{#ionItem path="terms_of_use" iconRight=true}}
					Terms of Use
          		{{> ionIcon icon="ios-arrow-right"}}
				{{/ionItem}}
				{{#ionItem path="privacy_policy" iconRight=true}}
					Privacy Policy
          		{{> ionIcon icon="ios-arrow-right"}}
				{{/ionItem}}
<!-- 				{{#ionItem path="faq" iconRight=true}}
					FAQ
          		{{> ionIcon icon="ios-arrow-right"}} 
				{{/ionItem}}-->
				{{#ionItem path="feedback_report" iconRight=true}}
					Feedback Report
          		{{> ionIcon icon="ios-arrow-right"}}
				{{/ionItem}}
			{{/ionList}}
			<button class = "button button-block button-positive" data-action = "signout">
				Logout
			</button>
		{{/ionContent}}
	{{/ionView}}

</template>