<template name = "activeRequestDetail">
	{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="view_request"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Active Request</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#with activeRequest}}
				<div class = "card">

					<div class = "item item-divider">
						<h3>Vehicle:</h3>
						<p> {{vehicle}} </p>
					</div>
					<div class = "item item-divider item-text-wrap">
						<h3>Service:</h3>
						<p> {{service}} </p>
					</div>
					<div class = "item item-divider">
						<h3>Preferred Date:</h3>
						<p>{{date}}</p>
					</div>
					<div class = "item item-divider">
						<h3>Reuquest Created At:</h3>
						<p>{{createdAt}}</p>
					</div>
					<div class = "item item-divider">
						<h3>Order Expires in: </h3>
						<p>{{expire}}</p>
					</div>
				</div>
			{{/with}}
		{{/ionContent}}
	{{/ionView}}
</template>