<template name = "customerRequest">

        <div class = "absolute_header">
			<h1 style="">Request Center</h1>
		    <div class="animated flipInY"><img src="logo2.jpg" id="absolute_header_logo"></div>
		</div>
	


  {{#ionView}}
	{{#ionContent class="submit_request"}}

	  {{#ionList class="absolute_title"}}
	     {{#ionItem }}
	        <br/>
	        <h2 style="padding-top:60px;">Choose One or More Services</h2>
	     {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="oil_change" value="Oil Change"></label>
             Oil Change
		 {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="smog_check" value="Smog Check"></label>
             Smog Check (Include Certificate)
		 {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="alignment" value="Alignment"></label>
             Alignment             
		 {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="towing" value="Towing"></label>
             Towing
		 {{/ionItem}}

		 {{#ionItem class="item-checkbox"}}            
             <label class="checkbox">
                <input type="checkbox" class="service" id="other" value="Other"></label>
             Other
		 {{/ionItem}}

		 {{#ionItem class="item-input item-select"}}
		   <div class="input-label" ><h2>My Vehicle</h2></div>

             <select class = "form-control" id = "customer_vehicle" form = " customer_request_form" >
				<option value = ""></option>
				{{#each myVehicles}}
				<option value = "{{make}} {{model}} {{year}}">{{make}} {{model}} {{year}}</option>
				{{/each}}
			</select>
		 {{/ionItem}}

         {{#ionItem class="item-input item-select"}}
             <div class="input-label"><h2>Requesting Time</h2></div>
             <select class="" id = "customer_requesting_time" form = "customer_request_form" style="width:100%;">
				<option value = "" disabled selected></option>
				<option value = "30">0.5 Hour</option>
				<option value = "60">1 Hour</option>
				<option value = "120">2 Hours</option>
				<option value = "180">3 Hours</option>
				<option value = "1440" > 1 Day</option>
			</select>
         {{/ionItem}}
 
         {{#ionItem class="item-input"}}
         <label class="input-label" for="customer_service_date"><h2>Prefered Date</h2></label>
	     <input type='date' class="" id = "customer_service_date" form ="customer_request_form" style="width:100%;max-width:100%;background:transparent;">
         {{/ionItem}}  

         {{#ionItem class=""}}
         <div style="margin-bottom:5px;"><h2>Message</h2></div>
         <textarea id="message" placeholder="Leave message to stores" rows="3"></textarea>
         {{/ionItem}}

         {{#ionItem class=""}}
		 <form id = "customer_request_form" action = "">
		            <center><button type="submit" class="button button-block button-balanced button-outline" style="box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.30);" id="request-btn-form"><h5 style="font-size:16px;font-color:#7ce59c;">Send your request to all stores</h5></button></center>
		 </form>
         {{/ionItem}}       

	  {{/ionList}}

    {{/ionContent}}
  {{/ionView}}
</template>