<template name="customerAccount">
{{#contentFor "headerTitle"}}
	<h1 class = "title">Account</h1>
{{/contentFor}}
{{#ionView}}
		{{#ionContent}}
			{{#ionList class="card"}}
				<div class="item-text-wrap" style="text-align:center;padding:20px;">
					<img src="{{avatar.url}}" style="width:80px;height:80px;border-radius:50%;margin-top:20px;">
					<h3 style="margin-top:5px;">{{firstName}} {{lastName}}</h3>
					<p style="margin-bottom:0px;color:#9c9c9c;">{{email}}</p>
					<p style="margin-bottom:0px;color:#9c9c9c;">{{phone}}</p>
				</div>

		        {{#ionItem path="edit_my_info" iconLeft=true}}
				{{> ionIcon icon="ios-gear" class="balanced"}}
				Edit My Information
<!--             {{> ionIcon icon="ios-arrow-right"}} -->
				{{/ionItem}}

				{{#ionItem path="edit_my_vehicle" iconLeft=true}}
				{{> ionIcon icon="android-car" class="balanced"}}
				Edit My Vehicle					
				{{/ionItem}}

				{{#ionItem path="edit_my_payment" iconLeft=true}}
				{{> ionIcon icon="card" class="balanced"}}
				Edit My Payment
				{{/ionItem}}

				{{#ionItem path="change_password" iconLeft=true}}
				{{> ionIcon icon="ios-locked" class="balanced"}}
				Change Password
				{{/ionItem}}

				{{#ionItem path="transaction_history" iconLeft=true}}
				{{> ionIcon icon="ios-paper" class="balanced"}}
				View Transactions					
				{{/ionItem}}
				
<!-- 				{{#ionItem path="view_notification" iconLeft=true iconRight=true}}
				{{> ionIcon icon="android-notifications" class="balanced"}}
				View Notification
          {{> ionIcon icon="ios-arrow-right"}}
					
				{{/ionItem}} -->



			{{/ionList}}

		{{/ionContent}}
{{/ionView}}
</template>