<template name="storeDetail">
{{#contentFor "headerTitle"}}
	<h1 class = "title">Store Detail</h1>
{{/contentFor}}
{{#contentFor "headerButtonLeft"}}
	{{>ionNavBackButton path = previousPath }}
{{/contentFor}}
{{#ionView}}
	{{#ionContent}}
		{{#ionList}}

                <div class="item item-thumbnail-left item-text-wrap store_cover_photo" href="#" style="background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,0.85))), url({{thisStore.image_url}}) repeat 0 0;background-size: 100% auto;background-position: center;min-height:120px;">

                   <img src="{{thisStore.image_url}}">
                   <h2 >{{thisStore.name}}</h2>
                   <!-- <i class="icon ion-ios-star energized"></i>
                   <i class="icon ion-ios-star energized"></i>
                   <i class="icon ion-ios-star energized"></i>
                   <i class="icon ion-ios-star-half energized"></i>
                   <i class="icon ion-ios-star-outline"></i> -->
                   <img src="{{thisStore.rating_img_url}}" />
                   <!-- <p>Mon-Sat 9:00 am- 6:00 pm</p> -->	
                </div>

                {{#ionItem class="item-icon-left item-icon-right my_store_list"}}
                   <a style="text-decoration:none;" href="tel:{{thisStore.phone}}">
                   <i class="icon ion-ios-telephone"></i>
                   <p>{{thisStore.display_phone}}</p>
                   <i class="icon"><h5>Call</h5></i></a>
                {{/ionItem}}

                {{#ionItem class="item-icon-left item-icon-right my_store_list item-text-wrap"}}
                  <div id="open_nav">
                    <i class="icon ion-navigate"></i>
                    <p>{{thisStore.location.display_address}}</p>
                    <i class="icon"><h5>Nav</h5></i>
                  </div>
                {{/ionItem}}
                

                <div class="toggle_trigger">
                {{#ionItem class="item-icon-left item-icon-right my_store_list"}}
                    <i class="icon ion-settings"></i>
                    <p>Service Availabe</p>
                    <i class="icon ion-ios-arrow-down" style="font-size:12px;"></i>
                {{/ionItem}}
                

                <div class="toggle_info">
                {{#if services}}
                {{#each services}}
                {{#ionItem class="item-stacked-label"}}
                    <div class="input-label">{{service}}</div>
                    <span class="service_price"><h3>$ {{price}}</h3></span>
                {{/ionItem}}
                {{/each}}
                {{else}}
                {{#ionItem class="item-stacked-label"}}
                    <div class="input-label">Only Carvicer store can show service list.</div>
                    
                {{/ionItem}}
                {{/if}}
                </div>
                </div>


<!--                 {{#ionItem class="item-icon-left item-icon-right my_store_list"}}
                    <i class="icon ion-ios-pricetag"></i>
                    <p>Promotion</p>
                    <i class="icon ion-ios-arrow-right" style="font-size:12px;"></i>
                {{/ionItem}} -->

			{{/ionList}}
	{{/ionContent}}
{{/ionView}}
</template>