<template name="editMyInfo">
    {{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path=previousPath}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Edit My Information</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
		
            {{#ionList class="card"}}

          <!--       {{#ionItem class="item-avatar item-icon-right"}}
                {{#with avatar}}
					<img src="{{this.url}}" />
				{{/with}}
					<h2 >{{firstName}} {{lastName}}</h2>
					
					<i class="icon ion-ios-compose-outline"></i>
				{{/ionItem}} -->
{{#autoForm collection="Meteor.users" doc=currentUser id="updateUser" type="update"}}
{{#ionItem  class="item-input item-stacked-label"}}
		{{> afQuickField label-class="input-label" label="Change Avatar" name="profile.avatar"}}
		{{/ionItem}}
                {{#ionItem class="item-input item-stacked-label"}}
                     {{>  afQuickField template="ionic" name='profile.firstName' id="first_name" label-class="input-label" defaultValue=firstName placeholder=firstName}}
                {{/ionItem}}

                {{#ionItem  class="item-input item-stacked-label"}}
                    {{>  afQuickField name='profile.lastName' id="last_name" label-class="input-label" defaultValue=lastName placeholder=lastName}}
                {{/ionItem}}

                {{#ionItem class="item-input item-stacked-label"}}
                    {{>  afQuickField name='profile.phone' id="phone" label-class="input-label" defaultValue=phone placeholder=phone}}
                {{/ionItem}}
        <br>
		<br>
        
        <center>
			<button type="submit" id="save-my-info" class="button button-outline button-balanced btn-request">Save change</button>
		</center>
		<br>
		<br>
		{{/autoForm}}
            {{/ionList}}

		
		{{/ionContent}}
	{{/ionView}}
</template>