<template name="editMyVehicle"> 
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="customer_account"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
     <h1 class = "title">Edit My Vehcles</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
		    
			{{#ionList class="vehicleList"}}
				{{#each myVehicles}}
				    <div class="{{id}} card animated fadeIn">
				    {{#ionItem class="item-divider item-icon-right"}}
					 <h2 style="font-weight:bold;">{{make}}</h2>
                     <span id="{{id}}" class="delete_vehicle">
                     <i class="icon ion-ios-close-empty"></i></span>
				    {{/ionItem}}

					{{#ionItem}}
					  <h2 style="display:inline-block;padding-left:5px;">{{model}}</h2>
					  <p style="display:inline-block;padding-left:3px;">{{year}}</p>
					{{/ionItem}}
					</div>
				{{/each}}
			{{/ionList}}
<div id="select_vehicle">
			<div class="padding"><strong>
            
			Add Vehicles {{> ionIcon icon="android-car"}} : </strong></div>
        <div class="request-item-select2" >
			<select id="choose_make">
				<option value="">Choose Make</option>		
				<option value="am-general">AM General</option>				
				<option value="acura">Acura</option>				
				<option value="alfa-romeo">Alfa Romeo</option>				
				<option value="aston-martin">Aston Martin</option>				
				<option value="audi">Audi</option>				
				<option value="bmw">BMW</option>				
				<option value="bentley">Bentley</option>				
				<option value="bugatti">Bugatti</option>				
				<option value="buick">Buick</option>				
				<option value="cadillac">Cadillac</option>				
				<option value="chevrolet">Chevrolet</option>				
				<option value="chrysler">Chrysler</option>				
				<option value="daewoo">Daewoo</option>				
				<option value="dodge">Dodge</option>				
				<option value="eagle">Eagle</option>				
				<option value="fiat">FIAT</option>				
				<option value="ferrari">Ferrari</option>				
				<option value="fisker">Fisker</option>				
				<option value="ford">Ford</option>				
				<option value="gmc">GMC</option>				
				<option value="geo">Geo</option>				
				<option value="hummer">HUMMER</option>	
				<option value="honda">Honda</option>				
				<option value="hyundai">Hyundai</option>				
				<option value="infiniti">Infiniti</option>				
				<option value="isuzu">Isuzu</option>				
				<option value="jaguar">Jaguar</option>				
				<option value="jeep">Jeep</option>			
				<option value="kia">Kia</option>				
				<option value="lamborghini">Lamborghini</option>				
				<option value="land-rover">Land Rover</option>				
				<option value="lexus">Lexus</option>				
				<option value="lincoln">Lincoln</option>				
				<option value="lotus">Lotus</option>				
				<option value="mini">MINI</option>				
				<option value="maserati">Maserati</option>				
				<option value="maybach">Maybach</option>				
				<option value="mazda">Mazda</option>				
				<option value="mclaren">McLaren</option>				
				<option value="mercedes-benz">Mercedes-Benz</option>				
				<option value="mercury">Mercury</option>				
				<option value="mitsubishi">Mitsubishi</option>				
				<option value="nissan">Nissan</option>				
				<option value="oldsmobile">Oldsmobile</option>				
				<option value="panoz">Panoz</option>				
				<option value="plymouth">Plymouth</option>				
				<option value="pontiac">Pontiac</option>				
				<option value="porsche">Porsche</option>				
				<option value="ram">Ram</option>				
				<option value="rolls-royce">Rolls-Royce</option>				
				<option value="saab">Saab</option>				
				<option value="saturn">Saturn</option>				
				<option value="scion">Scion</option>				
				<option value="spyker">Spyker</option>				
				<option value="subaru">Subaru</option>				
				<option value="suzuki">Suzuki</option>				
				<option value="tesla">Tesla</option>				
				<option value="toyota">Toyota</option>				
				<option value="volkswagen">Volkswagen</option>				
				<option value="volvo">Volvo</option>				
				<option value="smart">smart</option>	
			</select><br />
        </div>

        <div class="request-item-select2" >
			<select id="choose_model">
				<option value="">Choose Model</option>
				{{#each models }}
				<option value="{{niceName}}">{{name}}</option>
				{{/each}}
			</select><br />
		</div>

		<div class="request-item-select2" >
			<select id="choose_year">
				<option value="">Choose Year</option>
				{{#each years }}
				<option value="{{year}}">{{year}}</option>
				{{/each}}
			</select><br />
		</div>

		<br>
		<br>
        
        <div class="padding">
			<button id="add_car" class="button button-outline button-balanced btn-account">Add Vehicle</button>
		</div>
</div>
		<br>
		<br>
		{{/ionContent}}
	{{/ionView}}
</template>