<template name = "transactionDetail">

	{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="transaction_history"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Transaction Detail</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#with trans}}
				{{#ionList}}
					<div class = "item item-divider">
						<h3>Service:</h3>
						<p> {{service}} </p>
					</div>
					<div class = "item item-divider">
						<h3>Vehicle:</h3>
						<p> {{vehicle}} </p>
					</div>
					<div class = "item item-divider">
						<h3>price:</h3>
						<p>$ {{price}} </p>
					</div>			
<!-- 					<div class = "item item-divider">
						<h3>Transaction Date</h3>
						<p>{{formatdatetime createdAt}}</p>
					</div> -->
					<div class = "item item-divider">
						<h3>service Date</h3>
						<p>{{formatdate serviceDate}}</p>
					</div>
					<div class = "item item-divider">
						<h3>Status</h3>
						<p>{{#if paid}}Payment confirmed{{else}}<span class="positive">Payment unconfirmed</span>{{/if}}</p>
					</div>
				{{/ionList}}
				{{#if paid}}
				<div class="padding"><button id="refund" value="{{_id}}" class="button button-positive">Ask for Refund</button></div>
				{{else}}	
				<div class="padding"><button id="confirm" value="{{_id}}" class="button button-balanced">Confirm Change</button>
				<button id="cancel" value="{{_id}}" class="button button-default">Cancel Purchase</button></div>
				{{/if}}
			{{/with}}
		{{/ionContent}}
	{{/ionView}}
</template>


