<template name="changePassword">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="customer_account"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Change Password</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#ionList}}
				    <div class="card">
				    {{#ionItem class="item-divider item-icon-left"}}
                    <i class="icon ion-ios-locked balanced"></i>
				    <h2>Change Password</h2>
				    {{/ionItem}}
					{{#ionItem class="item-body"}}
						<h2>How to change my password?</h2>
						<p>You will receive an email to reset your password.</p>
					{{/ionItem}}
					</div>
			{{/ionList}}

		<br>
        <center>
			<button id="change_password" class="button button-assertive btn-request disabled">Send me e-mail</button>
		</center>
		<br>
		<br>
		{{/ionContent}}
	{{/ionView}}
</template>