<template name="faq">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="customer_more"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">FAQ</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			
		{{/ionContent}}
	{{/ionView}}
</template>