<template name="bookmark">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="customer_more"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Bookmarks - List</h1><button id="change_bookmark_map" class="button button-small button-outline">Map</button>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#ionList class="book_result"}}

			   {{#ionItem href="/store_detail/1" class="item-thumbnail-left" iconRight=true}}
                  <img src="{{image_url}}">
                  <h2>{{name}}</h2>
                  <p>{{phone}}</p>
                  <p>{{location.address}}</p>
	            {{> ionIcon icon="ios-arrow-right"}}
               {{/ionItem}}

			{{/ionList}}
		{{/ionContent}}
	{{/ionView}}
</template>