<template name="bookmarkMap">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="customer_more"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
	<h1 class = "title">Bookmarks - Map</h1><button id="change_bookmark_list" class="button button-small button-outline">List</button>
{{/contentFor}}
{{#ionView}}
	{{#ionContent}}
		
		<div id="map"></div>
	{{/ionContent}}
{{/ionView}}
</template>