<template name="promotions">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="customer_more"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Promotions</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#ionList class="card"}}
			  {{#ionItem class="card_thumbnail" href="#"}}
              <center>
                 <img src="o.jpg">
                 <h2>Abc Oil Changer</h2>
                 <p>Through 08/15/2015</p>
              </center>
        {{/ionItem}}
               {{#ionItem class="item-body"}}
                 <img class="full-image" src="oilChange.jpg">
                 <p>This is a "Facebook" styled Card. The header is created from a Thumbnail List item,the content is from a card-body consisting of an image and paragraph text. The footerconsists of tabs, icons aligned left, within the card-footer.
                 </p>
               {{/ionItem}}
               <a class="item item-icon-left balanced" href="#">
               <i class="icon ion-ios-pricetag"></i>
               Book It !
               </a>
 
 
			{{/ionList}}
		{{/ionContent}}
	{{/ionView}}
</template>