<template name="privacyPolicy">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="customer_more"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class = "title">Privacy Policy</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			<div class="card">
			  <div class="item item-text-wrap">
			    <p>Hello, Welcome to using carvicer  services. Please read carefully for following  agreement. You will be agree for following policy when you using our services. This Privacy Policy is effective immediately for users registering for personal accounts.</p>

<p>This Privacy Policy describes our policies on the collection, use, and disclosure of your information in connection with your use of our websites, emails, and mobile applications ("Site"). The terms "we", "us", and "Carvicer" refer to Carvicer Inc., a California corporation. When you use the Site, you consent to our collection, use, and disclosure of your information as described in this Privacy Policy.</p>

<p>Carvicersevice: Carvicer is a platform to connect the offline auto repair stores and the online user. User can search all the auto service and share the information in carvicer. We are not responsibility about the auto service problem from the store, but we will try our best to fix all of these problem. If we can not fix the problem, the user can complain or by the Consumers' Association legal channels.</p>

<p>We are very focused on the protection of users' personal information and privacy, if you have any questions or suggestions regarding our privacy statement, please contact：</p>

<h3>Table of Contents</h3>
<ol class="list-unstyled">
<li>1. <a href="#1">Information We Collect and How We Use It</a></li>
<li>2. <a href="#2">Cookie</a></li>
<li>3. <a href="#3">Third Parties</a></li>
<li>4. <a href="#4">Controlling Your Personal Data</a></li>
<li>5. <a href="#5">Data Retention and Account Termination</a></li>
<li>6. <a href="#6">Children</a></li>
<li>7. <a href="#7">Security</a></li>
<li>8. <a href="#8">Dispute Resolution</a></li>
<li>9. <a href="#9">Modification To This Privacy Policy</a></li>
</ol>

<h3><div id="1">1. Information We Collect and How We Use It</div></h3>
<p>We may store the information you submit to or through the Site, as well as information we collect in connection with your use of the Site.</p>
<p>We use the information to fulfill your requests, provide the Site’s functionality, improve the Site’s quality, personalize your experience, track usage of the Site, provide feedback to businesses that are listed on the Site, display relevant advertising, provide customer support, message you, back up our systems and allow for disaster recovery, enhance the security of the Site, and comply with legal obligations.</p>
<p>Among the information we collect, please note:</p>
<p><strong>a.	Account Information:</strong> If you create an account on Carvicer, we may store and use your full name, email address, zip code and other information you may provide with your account, such as your gender and birth date. Your first name and last initial, as well as any photo you submit through the registration process, will be publicly displayed as part of your account profile. You can modify some of the information associated with your account. If you feel that an unauthorized account has been created depicting you or your likeness, you can request its removal.</p>
<p><strong>b.	Public Content:</strong> The information that you post to the Site is intended for public consumption, including your reviews, tips, photos, check-ins, comments, likes, Talk posts, bookmarks, friends, lists, compliments, and account profile. We may display this information on the Site, share it with businesses, and further distribute it to a wider audience through third party sites and services.</p>
<p><strong>c.	Contacts:</strong> You can invite your friends to join the Site by providing their contact information, or by allowing us to use your address book from your computer, mobile device, or other sites. If you invite a friend to join and connect with you on the Site, we may transmit your friend’s contact information to Carvicer long enough to process your requests.</p>
<p><strong>d.	Communications:</strong> When you sign up for an account, you are opting in to receive emails from other Carvicer users, businesses, and Carvicer itself. You can manage your email preferences, but note that you cannot opt out of receiving certain administrative or legal notices from Carvicer. If you exchange messages with others through the Site, we may store them in order to process and deliver them, allow you to manage them, and investigate possible wrongdoing in connection with the Site. If you send information from the Site to your phone via SMS text message, we may log your phone number, phone carrier, and the date and time that the message was processed. Carriers may charge recipients for texts that they receive.</p>
<p><strong>e.	Transactional Information:</strong> If you make reservations or purchases through the Site, we may collect and store certain information about you to process your requests and populate forms for future transactions, such as your phone number, address, email, and credit card information. This information may be shared with third parties who help process and fulfill your requests. When you submit credit card numbers, we encrypt that information using industry standard technology. If you write reviews about businesses with which you transact through the Site, we may publicly display the fact that you transacted with those businesses.</p>
<p><strong>f.	Site Activity:</strong> We may store information about your use of the Site, such as your search activity, the pages you view, the date and time of your visit, and the businesses you call using our mobile applications. We also may store information that your computer or mobile device provides to us in connection with your use of the Site, such as your browser type, type of computer or mobile device, browser language, IP address, mobile carrier, unique device identifier, location, and requested and referring URLs.</p>

<h3><div id="2">2. Cookies</div></h3>
<p>We, and third parties with whom we partner, may use cookies, web beacons, local shared objects, and similar technology in connection with your use of the Site and third party websites ("<strong>Cookies</strong>"). Cookies are small data files that may have unique identifiers, and reside, among other places, on your computer or mobile device, in emails we send to you, and on our web pages. Cookies may transmit information about you and your use of the Site, such as your browser type, search preferences, data relating to advertisements that have been displayed to you or that you have clicked on, and the date and time of your use. Cookies may be persistent or stored only during an individual session.</p>

<p>Types of Cookies used on the Site include:</p>
<p>Category of Use--Explanation</p>
<p><strong>a. Processes</strong>—Intended to make the Site work in the way you expect it to. For example, we use a Cookie that tells us whether you have already signed up for an account.</p>
<p><strong>b. Authentication, Security, and Compliance</strong>—Intended to prevent fraud, protect your data from unauthorized parties, and comply with legal requirements. For example, we use Cookies to determine if you are logged in.</p>
<p><strong>c. Preferences</strong>—Intended to remember information about how you prefer the site to behave and look. For example, we use a Cookie that tells us whether you have declined to allow us to use your phone’s geolocation data.</p>
<p><strong>d. Notifications</strong>—Intended to allow notice of information or options that we think could improve your use of the site. For example, we use a Cookie that allows us to stop showing you the signup notification if you have already seen it.</p>
<p><strong>e. Advertising</strong>—Intended to make advertising more relevant to users and more valuable to advertisers. For example, we use a Cookie that tells us if you have recently clicked on an ad.</p>
<p><strong>f. Analytics</strong>—Intended to help us understand how visitors use the Site. For example, we use a Cookie that tells us how our search suggestions correlate to your interaction with the search page.</p>
<p><strong>g. ManagingCookies</strong>—It may be possible to disable some (but not all) Cookies through your device or browser settings, but doing so may affect your ability to use the Site. The method for disabling cookies may vary by device and browser, but can usually be found in preferences or security settings.</p>

<h3><div id="3">3. Third Parties</div></h3>
<p>We may share information about you with third parties as follows:</p>
<p><strong>a. Advertisers:</strong> We may allow third parties to use Cookies on the Site to collect the same type of information for the same purposes as Carvicer does for itself. They may be able to associate the information they collect with other information they have about you from other sources. Please note that opting out does not prevent the display of advertisements to you.</p>
<p><strong>b. Service Providers:</strong>  We outsource some of Carvicer’s functions to third-party providers, such as technical and customer support, tracking and reporting functions, quality assurance testing, payment processing functions, and other services. We may share information from or about you with these third-party providers so that they can perform their services or complete your requests.</p>
<p><strong>c. Aggregate Information:</strong> We may share user information in the aggregate with third parties, such as advertisers and content distributors. For example, we may disclose the number of users that have been exposed to, or clicked on, advertisements.</p>

<h3><div id="4">4. Controlling Your Personal Data</div></h3>
<p>Other users may be able to identify you, or associate you with your account if you include personal information in the content you post publicly. You can sign out everytime after you used. Users can also use the Search feature to find the services.</p>
<p>Please also note that the messages you send or receive using the Site are only private to the extent that both you and the sender/recipient keep them private. For example, we do not have any control over whether a recipient of one of your messages publicly posts it or its contents. Similarly, Carvicer may also access such messages in the course of investigations relating to Site use.</p>

<h3><div id="5">5. Data Retention and Account Termination</div></h3>
<p>You can close your account by clicking. We will remove your public posts from view and/or dissociate them from your account profile, but we may retain information about you for the purposes authorized under this Privacy Policy unless prohibited by law. For example, we may retain information to prevent, investigate, or identify possible wrongdoing in connection with the Site or to comply with legal obligations. Please note that businesses cannot remove their business listings, ratings or reviews by closing their accounts.</p>

<h3><div id="6">6. Children</div></h3>
<p>The Carvicer is not directed to children under 16. please contact us if you become aware that any user under 16, we will remove such information and terminate the child’s account if it without parental consent.</p>
<h3><div id="7">7. Security</div></h3>
<p>We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. However, no method of transmission over the Internet or via mobile device, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>
<h3><div id="8">8. Dispute Resolution</div></h3>
<p>If you believe that Carvicer has not adhered to this Privacy Policy you may contact us online or write to us at the following address:</p>
<ul class="list-unstyled">
<li>support@carvicer.com</li>
<li>Carvicer Inc., Attn: Privacy Officer, 4701 Patick Henry Dr. Building 6 suite I</li>
<li>Santa Clara, CA 95054, United States of America</li>
</ul>
<h3><div id="9">9. Modifications to This Privacy Policy</div></h3>
<p>We may update the privacy policy time to time, we will notify you by email or posting a notice on the site. You agree to be bound by the new privacy policy when you continuing to use the site after update.</p>
			  </div>
			</div>
		{{/ionContent}}
	{{/ionView}}
</template>