<template name="thankPayment">

{{#ionView}}
{{#ionContent}}
    <div class = "absolute_header">
	    <div><h1>Thank You</h1></div>
		<center><div id="absolute_header_checkmark" class="animated flipInY"><i class="icon ion-checkmark-round balanced" ></i></div></center>
    </div>

    {{#ionList class="absolute_card_title card"}}
	    {{#ionItem class="card_thumbnail"}}
              <center>
                 <h2>Payment Successful</h2>
              </center>
        {{/ionItem}}

        {{#ionItem class="item-text-wrap"}}
                 <p>Thank you for using Carvicer! We will send you an e-mail with the receipt. Please bring it to the store for your orders!
                 </p>
        {{/ionItem}}

        <a id="back-to-req" class="item item-icon-left">
        <i class="icon ion-ios-arrow-left balanced"></i>
        <p>Back to Request Center</p>
        </a>
 
 
		{{/ionList}}

{{/ionContent}}
{{/ionView}}
</template>