<template name="signUpTerms">
{{#contentFor "headerTitle"}}
     {{>ionNavBackButton path="signup"}}
     <h1 class="title">Terms of Use</h1>

{{/contentFor}}

{{#ionView}}
   {{#ionContent}} 

     {{#ionList class="card terms"}}

        <div class="item item-text-wrap">
			    <p>Welcome to Carvicer. If you continue to browse and use this service, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Carvicer,Inc ’s relationship with you in relation to this mobile application or websites. If you disagree with any part of these terms and conditions, please do not use our service.</p>

<h3>1. Age Verification</h3>

<p>By registering as a user, you certify that you are 16 years of age or older, Children under the age of 16 are not become a Carvicer user in the State. If your find any user who is under 16 years old to using Carvicer services, please contact us at www.carvicer.com/help</p>

<h3>2. Privacy</h3>

<p>By using the Website, App or Service or becoming a registered user, you agree to be subject to the terms and conditions set forth in our Privacy Policy.</p>

<h3>3. About Carvicer</h3>

<p>Carvicer is a platform that connecting Auto Stores and Users. We allows auto stores to offer all the services for the users requesting. Carvicer didn't sell any auto servicer or pricing the services.</p>

<h3>4. Update</h3>

<p>Carvicer perhaps to update the “Term of Use” at all times. We need your agreement to keep using our services. Carvicer have right to update the “Term of Use” without inform, Carvicer also have right to the service fee or start to charging service fee from specific services.</p>

<h3>5. The Services</h3>

<p>The users/ stores provide the real information to using Carvicer mobile application or websites.provide the right services for the requisition informations.
</p>


<h3>6. Using Carvicer</h3>

<h4>Auto Stores:</h4>

<p>All stores register must be checked the business license. Edit the services information and prices.

Offer the price and service information for the user requests.

Provide the real information to use our services. Can not use any information from us for illegal behave.</p>

<h4>User:</h4>

<p>Provide the real information to use our services. Can not use any information from us for illegal behave.</p>

<h3>7. Stop the Services</h3>

<p>You agree that Carvicer have right to stop all the services all the times.</p>

<h3>8. Limitation of Liability</h3>

<p>You agree that Carvicer as a third party platform to connect the services between auto stores and the users, Carvicer do not assume the risks involved in doing the services.</p>

<h3>9. User Service</h3>

<p>You can contact “Carvicer customer service” if have any questions. </p>
			  </div>
     {{/ionList}}
   {{/ionContent}}
{{/ionView}}
</template>