<template name =  "signup">

	{{#ionView}}
		{{#ionContent class="signup"}}

		<div class="padding login_title">
		    <div class="animated rotateIn" ><img src="logo2.jpg" id="signUp_logo"></div>
            <!-- <h3 class="assertive" style="margin-top:5px;">SIGN UP</h3> -->
        </div>

		<div style="margin-bottom:15px;">            
			<div class="list list-inset" style="margin-top:130px;opacity:0.85;">

<!-- 			  <div class="item header_signUp">
			  	<div class="animated pulse" ><img src="logo2.jpg" id="signUp_logo"></div>
			  </div> -->

              <label class="item item-input">
			    <input type="text" placeholder="First Name" id = "first_name">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Last Name" id = "last_name">
			  </label>

			  <label class="item item-input">
			    <input type="email" placeholder="Email Address for Login" id = "email">
			  </label>

			  <label class="item item-input">
			    <input type="password" placeholder="Password" id = "password">
			  </label>

			  <label class="item item-input">
			    <input type="password" placeholder="Confirmation" id = "confirmation">
			  </label>
			  
			  <div class="item">
			  <center>
		        <button class="button button-block button-assertive button-outline" style="margin:-8px;margin-top:-3px;border-radius:5px;" data-action="signup">
		            Sign Up
		        </button>
		      </center>
		      <div style="padding-top:5px;">
		      		        <span class="assertive" id = "callback" value = "{{signupStatus}}" style="font-size:12px;">{{signupStatus}}</span>
		      </div>
      		  </div>
            
              <a class="item" href = "/login">
              	<h4 style="margin-top:-5px;margin-bottom:-5px;">Already have an account? <a href = "/login" class = "">Sign In</a></h4>

              </a>

              <a class="item" href = "/signup_terms">
              	<h4 style="margin-top:-5px;margin-bottom:-5px;">Terms of Use</h4>
              </a>


			</div>



      		
      	</div>
		{{/ionContent}}
	{{/ionView}}

</template>