<template name="feedbackReport">
{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="customer_more"}}
	{{/contentFor}}
{{#contentFor "headerTitle"}}
	<h1 class = "title">Feedback</h1>
{{/contentFor}}
{{#ionView}}
	{{#ionContent}}
		{{#ionList}}
			{{#ionItem class=""}}
	         <div style="margin-bottom:15px;"><h2>Hi Carvicer,</h2></div>
	         <textarea id="message" placeholder="Leave Message to Carvicer Team" rows="8"></textarea>
	         {{/ionItem}}
	         <center>
	         <button id="send_feedback" style="margin-top:15px;" type="submit" class="button button-outline button-balanced btn-request">
		           	submit
		     </button>
		     </center>
		{{/ionList}}
	{{/ionContent}}
{{/ionView}}
</template>